<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Richard Buehling</title>
    <link rel="stylesheet" href="/assets/css/output.css">
</head>
<body>

 
    
<main class="dark:bg-gray-800 font-mono bg-white dark:bg-gray-800 relative overflow-hidden h-screen">

  

   
    
    <header class="h-24 sm:h-32 flex items-center z-30 w-full">
        <div class="container mx-auto px-6 flex items-center justify-between">
            <div class="uppercase text-gray-800 dark:text-white font-black text-3xl flex items-center">
              <a href="/"class="text-3xl ml-3 mt-1 bg-red-500 transition transform ease-in-out duration-100 hover:bg-white hover:scale-105">
                    [RB]
                </a>
                <a  href="/" class="text-sm align-text-bottom ml-3 mt-1">
                    / Richard_Buehling
                </a>
            </div>
            <div class="flex items-center">
                <nav class="font-sen text-gray-800 dark:text-white uppercase text-lg lg:flex items-center hidden">
                    <a href="/about" class="py-2 px-6 flex hover:text-black">
                        About
                    </a>
                    <a href="/projects" class="py-2 px-6 flex hover:text-black">
                        Projects
                    </a>
                    </a>
                    <a href="/blog" class="py-2 px-6 flex hover:text-black">
                        Blog
                    </a>
                    <a href="/contact" class="py-2 px-6 flex hover:text-black">
                        Contact
                    </a>

                    
                </nav>
                <div>
                <button class="lg:hidden flex flex-col" id="nice">
                    <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
                    </span>
                    <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
                    </span>
                    <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
                    </span>
                </button>
            </div>
            </div>
        </div>
    </header>
    
    <section class="lg:hidden hidden text-gray-600 bg-gray-100 body-font dark:bg-gray-800 font-mono bg-white relative overflow-hidden py-5" id="menu">
        <div class="container mx-auto flex px-5 flex-col items-center">
          <div class="lg:hidden flex flex-col items-center text-center">
        <p class="text-base font-bold text-black">
            <a href="/about">About</a> / <a href="/projects">Projects</a> / <a href="/blog">Blog</a> / <a href="/contact">Contact</a>
        </p>
          </div>
        </div>
      
    </section>
    <div class="flex relative z-20 items-center">
        <div class="container mx-auto px-6 flex flex-col justify-between items-center relative py-4">
            <div class="flex pt-20 lg:pt-0 flex-col">
                <img src="/assets/static/profilelarger.png" class="rounded-2xl w-36 mx-auto" />

                <p class="sm:text-3xl text-lg my-6 text-center text-black dark:text-white">
                    Hi, I&#x27;m Richard. <span class="waving-hand"> &#128075; </span>
                </p>
                <h2 class="max-w-3xl text-4xl sm:text-5xl font-bold mx-auto dark:text-white text-gray-800 text-center py-2">
        
                    Student-Athlete
                </h2>
                    <p class="max-w-3xl text-3xl md:text-3xl font-bold mx-auto dark:text-white text-gray-800 text-center relative w-max transition transform ease-in-out duration-100 hover:bg-red-500 hover:scale-105">
                        
                            <a href ="https://goterriers.com/" target="_blank" rel="noopener noreferrer">
                                [at Boston Univ.]
                            </a>
                    
                            
                      </p> 
                </h2>
                <div class="flex items-center justify-center pt-20 sm:pt-10">
                    <a href="/contact" class=" uppercase py-2 my-2 px-4 md:mt-16 bg-transparent dark:text-gray-800 dark:bg-red-500 hover:dark:bg-red-500 border-2 hover:border-red-500 border-gray-800 text-gray-800 dark:text-white hover:bg-red-500 hover:text-white text-md">
                        CONNECT WITH ME
                    </a>
                </div>
            </div>
        </div>
    </div>

    
</main>





<section class="text-gray-600 body-font dark:bg-gray-800 font-mono bg-white relative overflow-hidden pb-10">
    <div class="container mx-auto flex px-5 lg:flex-row flex-col items-center">
      <div class="lg:flex-grow md:px-16 lg:pr-24 lg:px-16 flex flex-col md:items-start md:text-left md:mb-0 items-center sm:pb-10">
        <h1 class="title-font sm:text-5xl text-5xl mb-4 font-bold text-gray-900 py-10">About Me
            
          
        </h1>
        <p class="leading-relaxed">I am a <span class="font-bold text-black"> student-athlete </span> at <span class="font-bold text-black">Boston University</span>. Specifically, I'm a track athlete and do Triple Jump and Long Jump. I am passionate about <span class="font-bold text-black">media production, coding, and web design</span> - I hard-coded this website! I am studying <span class="font-bold text-black"> Business and CS </span> at Boston University. Thank you for stopping by, make sure to <a href="#joinTeam" class="text-red-500 font-bold underline"> join the team</a> to stay updated with my blog and my Tik Tok that has over 180k followers!</p>
        <a href="/about" class="text-red-500 invisible sm:visible mt-10 font-bold text-sm dark:hover:text-white hover:text-black">More about me ->
       </a>
      </div>
      <div class="lg:max-w-lg shadow-2xl sm:shadow-none lg:w-full md:w-1/2 lg:pr-16">
        <img class="object-cover object-center  border-2 border-gray-200" alt="hero" src="/assets/static/profilereal.png">
      </div>

      <a href="/about" class="text-red-500 sm:hidden pt-10 font-bold text-sm dark:hover:text-white hover:text-black">More about me ->
      </a>
    </div>
  </section>

  <section class="text-gray-600 body-font dark:bg-gray-800 font-mono bg-white relative overflow-hidden  sm:pt-10 pb-10">
    <div class="container mx-auto flex px-5 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:px-16 flex flex-col pt-10 sm:pt-0 md:items-start md:text-left md:mb-0 items-center text-center sm:pb-10">
    <p class="text-5xl font-bold text-black">Projects</p>
      </div>
    </div>
  </section>

  
  <section class="text-gray-600 body-font dark:bg-gray-800 font-mono bg-white relative overflow-hidden pt pb-10">
    <div class="container mx-auto flex px-5 md:flex-row flex-col items-center bg-white ">
        
        <div class="lg:flex-grow lg:px-16 md:px-16 flex flex-col md:items-start  md:text-left md:mb-0 items-center pb-10">
            
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 py-10 px-10 dark:border-gray-800 border-gray-300 border-2">
    
            <div>
                <svg class="w-8 h-8 animate-pulse" viewBox="0 0 30 30" fill="none">
                    <path d="M29.6931 14.2283L22.7556 6.87823C22.3292 6.426 21.6175 6.40538 21.1652 6.83212C20.7137 7.25851 20.6927 7.9706 21.1195 8.42248L27.3284 15L21.1195 21.5783C20.6927 22.0302 20.7137 22.7419 21.1652 23.1687C21.3827 23.3738 21.6606 23.4754 21.9374 23.4754C22.2363 23.4754 22.5348 23.3569 22.7557 23.1233L29.6932 15.7729C30.1022 15.339 30.1023 14.6618 29.6931 14.2283Z" fill="#2D3748"/><path d="M8.88087 21.578L2.67236 15L8.88087 8.42215C9.30726 7.97028 9.28664 7.25812 8.83476 6.83179C8.38323 6.4054 7.67073 6.42603 7.2444 6.87791L0.306858 14.2279C-0.102245 14.6614 -0.102245 15.3391 0.306858 15.7726L7.24475 23.123C7.466 23.3574 7.76413 23.4755 8.06302 23.4755C8.33976 23.4755 8.61767 23.3735 8.83476 23.1684C9.28705 22.742 9.30726 22.0299 8.88087 21.578Z" fill="#2D3748"/><path d="M16.8201 3.08774C16.2062 2.99476 15.6317 3.41622 15.5379 4.03011L12.2379 25.6302C12.1441 26.2445 12.566 26.8186 13.1803 26.9124C13.238 26.921 13.295 26.9252 13.3516 26.9252C13.898 26.9252 14.3773 26.5266 14.4624 25.97L17.7624 4.3699C17.8562 3.7556 17.4343 3.1815 16.8201 3.08774Z" fill="#4299E1"/>
                </svg>

                <h1 class="mt-4 text-xl font-semibold text-center md:text-left text-gray-800 dark:text-white">
                    <a href="https://incognitoprod.com/">incognitoprod.com</a>
                </h1>

                <p class="mt-2 text-gray-500 dark:text-gray-400">Designed the website using HTML, CSS, JS. Used Tailwind to template and help design the site. Used AWS for hosting, SSL Certificate, domian configuration, etc.  </p>
            </div>

            <div>
          
                <svg class="w-8 h-8 animate-bounce" viewBox="0 0 30 30" fill="none">
                    <path d="M27.3633 7.08984H26.4844V6.21094C26.4844 4.75705 25.3015 3.57422 23.8477 3.57422H4.39453C2.94064 3.57422 1.75781 4.75705 1.75781 6.21094V21.1523H0.878906C0.393516 21.1523 0 21.5459 0 22.0312V23.7891C0 25.2429 1.18283 26.4258 2.63672 26.4258H27.3633C28.8172 26.4258 30 25.2429 30 23.7891V9.72656C30 8.27268 28.8172 7.08984 27.3633 7.08984ZM3.51562 6.21094C3.51562 5.72631 3.9099 5.33203 4.39453 5.33203H23.8477C24.3323 5.33203 24.7266 5.72631 24.7266 6.21094V7.08984H20.332C18.8781 7.08984 17.6953 8.27268 17.6953 9.72656V21.1523H3.51562V6.21094ZM1.75781 23.7891V22.9102H17.6953V23.7891C17.6953 24.0971 17.7489 24.3929 17.8465 24.668H2.63672C2.15209 24.668 1.75781 24.2737 1.75781 23.7891ZM28.2422 23.7891C28.2422 24.2737 27.8479 24.668 27.3633 24.668H20.332C19.8474 24.668 19.4531 24.2737 19.4531 23.7891V9.72656C19.4531 9.24193 19.8474 8.84766 20.332 8.84766H27.3633C27.8479 8.84766 28.2422 9.24193 28.2422 9.72656V23.7891Z" fill="#2D3748"/><path d="M24.7266 21.1523H22.9688C22.4834 21.1523 22.0898 21.5459 22.0898 22.0312C22.0898 22.5166 22.4834 22.9102 22.9688 22.9102H24.7266C25.212 22.9102 25.6055 22.5166 25.6055 22.0312C25.6055 21.5459 25.212 21.1523 24.7266 21.1523Z" fill="#4299E1"/><path d="M23.8477 12.3633C24.3331 12.3633 24.7266 11.9698 24.7266 11.4844C24.7266 10.999 24.3331 10.6055 23.8477 10.6055C23.3622 10.6055 22.9688 10.999 22.9688 11.4844C22.9688 11.9698 23.3622 12.3633 23.8477 12.3633Z" fill="#4299E1"/>
                </svg>  


                <h1 class="mt-4 text-xl font-semibold text-center md:text-left text-gray-800 dark:text-white">
                    <a href="https://www.tiktok.com/@richardbuehling?lang=en">My Tik Tok</a>
                </h1>
                
                <p class="mt-2 text-gray-500 dark:text-gray-400">Gained over 180k followers, 20M people reached, 17% engagement rate in 6 months. Posted 250+ videos of completely orginal content.</p>
            </div>
            
            <div>
                <svg class="w-8 h-8 animate-spin" viewBox="0 0 30 30" fill="none">
                    <g clip-path="url(#clip0)"><path d="M26.599 4.339a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zM7.151 25.661a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zM23.486 13.163a8.636 8.636 0 00-1.19-2.873l1.123-1.123-2.592-2.59L19.705 7.7a8.636 8.636 0 00-2.873-1.19V4.921h-3.664v1.586a8.634 8.634 0 00-2.873 1.19l-1.122-1.12-2.592 2.589 1.123 1.123a8.636 8.636 0 00-1.19 2.873H4.922l-.002 3.663h1.592A8.626 8.626 0 007.704 19.7l-1.127 1.127 2.59 2.591 1.128-1.127a8.623 8.623 0 002.873 1.19v1.597h3.664v-1.597a8.628 8.628 0 002.873-1.19l1.128 1.128 2.59-2.592-1.127-1.127a8.627 8.627 0 001.19-2.873h1.593v-3.664h-1.593zM15 19.256a4.255 4.255 0 110-8.511 4.255 4.255 0 010 8.51z" fill="#4299E1"/><path d="M5.276 23.2c-.42 0-.823.105-1.182.302A13.853 13.853 0 011.172 15C1.172 7.375 7.375 1.172 15 1.172c.927 0 1.854.092 2.754.274a.586.586 0 00.232-1.149A15.111 15.111 0 0015 0C10.993 0 7.226 1.56 4.393 4.393A14.902 14.902 0 000 15c0 3.37 1.144 6.66 3.228 9.296-.268.4-.413.872-.413 1.365 0 .657.257 1.275.721 1.74a2.444 2.444 0 001.74.721c.658 0 1.276-.256 1.74-.721.465-.465.721-1.083.721-1.74s-.256-1.276-.72-1.74a2.445 2.445 0 00-1.74-.72zm.912 3.373a1.28 1.28 0 01-.912.377 1.28 1.28 0 01-.911-.377 1.28 1.28 0 01-.378-.912c0-.344.134-.668.378-.912a1.28 1.28 0 01.911-.377c.345 0 .668.134.912.378.243.243.377.567.377.911 0 .344-.134.668-.377.912zM26.772 5.703a2.465 2.465 0 00-.308-3.104 2.446 2.446 0 00-1.74-.721c-.658 0-1.276.256-1.74.72a2.445 2.445 0 00-.721 1.74c0 .658.256 1.276.72 1.741.465.465 1.083.72 1.74.72.42 0 .824-.104 1.183-.3A13.854 13.854 0 0128.828 15c0 7.625-6.203 13.828-13.828 13.828-.918 0-1.836-.09-2.728-.269a.586.586 0 00-.23 1.15c.968.193 1.963.291 2.958.291 4.007 0 7.773-1.56 10.607-4.393A14.902 14.902 0 0030 15c0-3.37-1.145-6.66-3.228-9.297zm-2.96-.452a1.28 1.28 0 01-.377-.912c0-.344.134-.668.377-.911a1.28 1.28 0 01.912-.378 1.29 1.29 0 010 2.578 1.28 1.28 0 01-.912-.377z" fill="#2D3748"/><path d="M12.582 25.078c0 .324.263.586.586.586h3.664a.586.586 0 00.586-.586v-1.136a9.179 9.179 0 002.199-.911l.802.802a.586.586 0 00.829 0l2.59-2.592a.586.586 0 000-.828l-.802-.802a9.169 9.169 0 00.911-2.199h1.132a.586.586 0 00.586-.585v-3.664a.586.586 0 00-.586-.586h-1.132a9.17 9.17 0 00-.911-2.199l.797-.797a.587.587 0 000-.829l-2.592-2.59a.586.586 0 00-.829 0l-.795.797a9.177 9.177 0 00-2.2-.912V4.922a.586.586 0 00-.585-.586h-3.664a.586.586 0 00-.586.586v1.126a9.169 9.169 0 00-2.199.91l-.796-.795a.586.586 0 00-.828 0l-2.592 2.59a.585.585 0 000 .828l.797.797a9.173 9.173 0 00-.911 2.199h-1.13a.586.586 0 00-.586.585l-.002 3.664a.585.585 0 00.586.586h1.132c.207.77.512 1.507.911 2.2l-.801.8a.586.586 0 000 .83l2.59 2.59a.586.586 0 00.829 0l.801-.801a9.185 9.185 0 002.2.911v1.136zm-1.97-3.28a.586.586 0 00-.732.078l-.713.714-1.761-1.763.712-.713a.586.586 0 00.078-.732 8.02 8.02 0 01-1.11-2.679.586.586 0 00-.572-.462H5.507l.002-2.492h1.005a.586.586 0 00.572-.463 8.022 8.022 0 011.11-2.678.586.586 0 00-.078-.733l-.708-.708 1.763-1.761.707.707c.196.196.5.228.733.078a8.016 8.016 0 012.678-1.11.586.586 0 00.463-.573v-1h2.492v1c0 .277.193.515.463.573a8.024 8.024 0 012.678 1.11c.232.15.537.118.732-.078l.708-.707 1.762 1.761-.708.708a.586.586 0 00-.078.732 8.027 8.027 0 011.11 2.679c.058.27.297.463.573.463h1.007v2.492h-1.007a.586.586 0 00-.573.462 8.02 8.02 0 01-1.11 2.679.586.586 0 00.078.732l.713.713-1.761 1.762-.714-.713a.586.586 0 00-.732-.078 8.027 8.027 0 01-2.678 1.11.586.586 0 00-.463.573v1.011h-2.492v-1.01a.586.586 0 00-.463-.574 8.021 8.021 0 01-2.678-1.11z" fill="#2D3748"/><path d="M19.841 15A4.847 4.847 0 0015 10.158 4.847 4.847 0 0010.158 15 4.847 4.847 0 0015 19.841 4.847 4.847 0 0019.841 15zm-8.51 0A3.674 3.674 0 0115 11.33 3.674 3.674 0 0118.67 15 3.674 3.674 0 0115 18.67 3.674 3.674 0 0111.33 15z" fill="#2D3748"/><path d="M20.395 2.216a.59.59 0 00.415-.172.593.593 0 00.171-.415.59.59 0 00-.586-.586.589.589 0 00-.586.586.589.589 0 00.586.587zM9.63 27.794a.59.59 0 00-.586.586.59.59 0 00.586.586.59.59 0 00.586-.586.59.59 0 00-.586-.585z" fill="#4299E1"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h30v30H0z"/></clipPath></defs>
                </svg>
            
                <h1 class="mt-4 text-xl font-semibold text-gray-800 text-center md:text-left dark:text-white">Fasn.co</h1>
            
                <p class="mt-2 text-gray-500 dark:text-gray-400">Designed a phone wallet using CAD software that aims to provide ease of access to an ID card that many other phone wallets lack.</p>
            </div>
            
        </div>
        <a href="/projects" class="text-red-500 mt-10 font-bold text-sm dark:hover:text-white hover:text-black">View all projects ->
            

        </a>
    </div>

    </div>
</section>

<section class="text-gray-600 body-font dark:bg-gray-800 font-mono bg-white relative overflow-hidden pb-10">
    <div class="container mx-auto flex px-5 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:px-16 flex flex-col md:items-start pt-5 sm:pt-10 md:text-left md:mb-0 items-center text-center sm:pb-10">
    <p class="text-5xl font-bold text-black">Blog</p>
      </div>
    </div>
  </section>



      <section class="text-gray-600 font-mono bg-white overflow-hidden px-5 sm:px-52">

          <% var i = 0;%>
          <% articles.forEach(article => { if(i < 3) { %>
            <a href="articles/<%= article.slug %>">
              <div class="py-2">
          <div class="container border-2 hover:shadow-lg rounded-2xl border-gray-300 px-5 sm:px-20 py-10 sm:py-5 mx-auto">
            <div class="-my-8 divide-y-2 divide-gray-100">
              
              <div class="py-5 px-2 sm:px-0 sm:py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="font-semibold title-font text-gray-700"><%= article.category %></span>
                  <span class="mt-1 text-gray-500 text-sm"><%= article.createdAt.toLocaleDateString() %></span>
                </div>
                <div class="md:flex-grow px-5">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"><%= article.title %></h2>
                  <p class="leading-relaxed"><%= article.description %></p>
                </div>
              </div>
              

            </div>
          </div>
        </div>
        </a>
          <% } i++; }) %>
       
      </section>
  
           

       
      


<section class="text-gray-600 body-font dark:bg-gray-800 font-mono bg-white relative overflow-hidden pt-8 pb-5 sm:pb-10">
    <div class="container mx-auto flex px-5 md:flex-row flex-col items-center">
        <a href="/blog" class="text-red-500 px-16 font-bold text-sm dark:hover:text-white hover:text-black">View Full Blog ->
            

        </a>
    </div>
  </section>


  <section class="bg-white dark:bg-gray-800 font-mono px-5 md:px-10 pb-10 lg:px-52 pt-10" id="joinTeam">
    <div class="max-w  shadow-lg bg-green-100 text-center rounded-3xl px-10 border-green-300 border-2">
        <h1 class="text-xlg md:text-3xl font-semibold text-gray-800 dark:text-gray-100 pt-10">&#129395; Stay up to date with my blog! &#129395;</h1>

        <form action="https://formspree.io/f/mgerleee" method="POST" class="flex flex-col mt-8 space-y-3 sm:space-y-0 sm:flex-row sm:justify-center sm:-mx-2 pb-10">
            <input type="email" id="Email" name="Email""
                class="px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md sm:mx-2 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                placeholder="Email Address">

            <button type="submit" class="px-4 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-700 rounded-md sm:mx-2 hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">
                Join!
            </button>
        </form>
    </div>
</section>


<section class="text-gray-600 body-font dark:bg-gray-800 font-mono bg-white relative overflow-hidden">
    <div class="container mx-auto flex px-5 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:px-16 flex flex-col md:mb-0 items-center text-center">
    <p class="text-3xl font-bold text-black underline">Contact</p>
      </div>
    </div>
  </section>


  <section class="w-full py-4 mx-auto bg-white font-mono px-5 sm:px-48 dark:bg-gray-800">
      
      <div class="grid shadow-md border-2 border-grey-200 grid-cols-1 gap-6 mt-6 lg:grid-cols-3">
          <a href="#" class="flex flex-col items-center px-4 py-3 text-gray-700 dark:text-gray-200 hover:bg-red-200 dark:hover:bg-blue-500">
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
              </svg>

              <span class="mt-2">Boston University</span>
          </a>

          <a href="#" class="flex flex-col items-center px-4 py-3 text-gray-700 dark:text-gray-200 hover:bg-red-200 dark:hover:bg-blue-500">
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
              </svg>

              <span class="mt-2">[630]-808-1663</span>
          </a>

          <a href="#" class="flex flex-col items-center px-4 py-3 text-gray-700 dark:text-gray-200 hover:bg-red-200 dark:hover:bg-blue-500">
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
              </svg>

              <span class="mt-2 px-1">rbueh@bu.edu</span>
          </a>
      </div>
  </section>

  <form action="https://formspree.io/f/mknkvwdo" method="POST" class="w-full px-5 font-mono mx-auto max-w-lg py-10">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="Name">
          Name
        </label>
        <input type="text" id="Name" name="Name" class="appearance-none block w-full  text-gray-700 border border-gray-200  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" >
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="Email">
          E-mail
        </label>
        <input type="email" id="Email" name="Email" class="appearance-none block w-full  text-gray-700 border border-gray-200  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="Message">
          Message
        </label>
        <textarea name="Message" id="Message" class=" no-resize appearance-none block w-full text-gray-700 border border-gray-200  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none" ></textarea>
      </div>
    </div>
    <div class="md:flex md:items-center">
      <div class="md:w-1/3">
        <button type="submit" class="shadow mx-auto bg-blue-500 hover:bg-blue-300 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4">
          Send
        </button>
      </div>
      <div class="md:w-2/3"></div>
    </div>
  </form>



  <script src="assets/js/main.js"></script>
</body>
<footer class="text-gray-600 body-font font-mono bg-gray-300">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <img class="rounded-lg bg-red-500" src="/assets/static/profile.png" alt=""Profile Pic></img>
      <span class="ml-3 text-xl">Richard Buehling</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2021 —
      <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@richardbuehling</a>
    </p>
    
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center fill-current text-gray-500 sm:justify-start">
      <a href="https://github.com/ric897">
        <svg class="mx-1 fill-current text-gray-500" xmlns="http://www.w3.org/2000/svg" width="20" height="20" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 640 640"><path d="M319.988 7.973C143.293 7.973 0 151.242 0 327.96c0 141.392 91.678 261.298 218.826 303.63 16.004 2.964 21.886-6.957 21.886-15.414 0-7.63-.319-32.835-.449-59.552-89.032 19.359-107.8-37.772-107.8-37.772-14.552-36.993-35.529-46.831-35.529-46.831-29.032-19.879 2.209-19.442 2.209-19.442 32.126 2.245 49.04 32.954 49.04 32.954 28.56 48.922 74.883 34.76 93.131 26.598 2.882-20.681 11.15-34.807 20.315-42.803-71.08-8.067-145.797-35.516-145.797-158.14 0-34.926 12.52-63.485 32.965-85.88-3.33-8.078-14.291-40.606 3.083-84.674 0 0 26.87-8.61 88.029 32.8 25.512-7.075 52.878-10.642 80.056-10.76 27.2.118 54.614 3.673 80.162 10.76 61.076-41.386 87.922-32.8 87.922-32.8 17.398 44.08 6.485 76.631 3.154 84.675 20.516 22.394 32.93 50.953 32.93 85.879 0 122.907-74.883 149.93-146.117 157.856 11.481 9.921 21.733 29.398 21.733 59.233 0 42.792-.366 77.28-.366 87.804 0 8.516 5.764 18.473 21.992 15.354 127.076-42.354 218.637-162.274 218.637-303.582 0-176.695-143.269-319.988-320-319.988l-.023.107z"/></svg>
      </a> 
      <a href="https://www.instagram.com/ric897/">
        <svg class="mx-1 fill-current text-gray-500" xmlns="http://www.w3.org/2000/svg" width="20" height="20" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 122 122"><path d="M61.45,0C44.76,0,42.66.07,36.11.37A45.08,45.08,0,0,0,21.2,3.23a29.86,29.86,0,0,0-10.88,7.08,30.26,30.26,0,0,0-7.1,10.88A44.92,44.92,0,0,0,.37,36.11C.08,42.66,0,44.75,0,61.44S.07,80.21.37,86.77a45.08,45.08,0,0,0,2.86,14.91,30.12,30.12,0,0,0,7.08,10.88,30.13,30.13,0,0,0,10.88,7.1,45.17,45.17,0,0,0,14.92,2.85c6.55.3,8.64.37,25.33.37s18.77-.07,25.33-.37a45.17,45.17,0,0,0,14.92-2.85,31.54,31.54,0,0,0,18-18,45.6,45.6,0,0,0,2.86-14.91c.29-6.55.37-8.64.37-25.33s-.08-18.78-.37-25.33a45.66,45.66,0,0,0-2.86-14.92,30.1,30.1,0,0,0-7.09-10.88,29.77,29.77,0,0,0-10.88-7.08A45.14,45.14,0,0,0,86.76.37C80.2.07,78.12,0,61.43,0ZM55.93,11.07h5.52c16.4,0,18.34.06,24.82.36a34,34,0,0,1,11.41,2.11,19,19,0,0,1,7.06,4.6,19.16,19.16,0,0,1,4.6,7.06,34,34,0,0,1,2.11,11.41c.3,6.47.36,8.42.36,24.82s-.06,18.34-.36,24.82a33.89,33.89,0,0,1-2.11,11.4A20.35,20.35,0,0,1,97.68,109.3a33.64,33.64,0,0,1-11.41,2.12c-6.47.3-8.42.36-24.82.36s-18.35-.06-24.83-.36a34,34,0,0,1-11.41-2.12,19,19,0,0,1-7.07-4.59,19,19,0,0,1-4.59-7.06,34,34,0,0,1-2.12-11.41c-.29-6.48-.35-8.42-.35-24.83s.06-18.34.35-24.82a33.7,33.7,0,0,1,2.12-11.41,19,19,0,0,1,4.59-7.06,19.12,19.12,0,0,1,7.07-4.6A34.22,34.22,0,0,1,36.62,11.4c5.67-.25,7.86-.33,19.31-.34Zm38.31,10.2a7.38,7.38,0,1,0,7.38,7.37,7.37,7.37,0,0,0-7.38-7.37ZM61.45,29.89A31.55,31.55,0,1,0,93,61.44,31.56,31.56,0,0,0,61.45,29.89Zm0,11.07A20.48,20.48,0,1,1,41,61.44,20.48,20.48,0,0,1,61.45,41Z"/></svg>
      </a>
      <a href="https://www.tiktok.com/@richardbuehling?lang=en">
        <svg class="mx-1 fill-current text-gray-500" xmlns="http://www.w3.org/2000/svg" width="22" height="22" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 122.88 122.31"><path d="M78,18.25C79.49,31,86.59,38.58,98.93,39.37V53.68c-7.16.7-13.43-1.65-20.73-6V74.39C78.26,109.31,40.7,112,30,94.65c-7.13-11.51-4.54-39.19,21.22-43.29V65.89c-6,1-9.28,2.84-11.07,6.26-11,21.12,27.48,33.69,24.82-.34V18.25Z"/></svg>
      </a>
      <a href="https://www.linkedin.com/in/richard-buehling-6113681a9/">
        <svg class="mx-1 fill-current text-gray-500" xmlns="http://www.w3.org/2000/svg" width="20" height="20" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 640 640"><path d="M228.582 205.715h126.462v64.832h1.83c17.611-31.595 60.675-64.832 124.892-64.832C615.303 205.715 640 288.818 640 396.926v220.219H508.116V421.93c0-46.536-.969-106.442-68.576-106.442-68.67 0-79.194 50.658-79.194 103.052v198.605H228.581v-411.43zM137.152 91.43c0 37.855-30.721 68.576-68.576 68.576-37.855 0-68.587-30.721-68.587-68.576 0-37.855 30.732-68.576 68.587-68.576 37.855 0 68.576 30.721 68.576 68.576zM-.011 205.715h137.163v411.43H-.011v-411.43z"/></svg>      </a>         
    </span>
  </div>
</footer>

<style>
  .waving-hand {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    15% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    30% { transform: rotate(-8.0deg) }
    40% { transform: rotate(14.0deg) }
    50% { transform: rotate(-4.0deg) }
    60% { transform: rotate(10.0deg) }
    70% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
   100% { transform: rotate( 0.0deg) }
  }
</style>



</html>